{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'field-collection-item',
    'field-collection-item--name-' ~ field_collection_item.name|clean_class,
    'field-collection-item--view-mode-' ~ field_collection_item.view_mode|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <div class="tuition-header">
        <div class="how-much">
            How much is tuition?
        </div>
        <div class="for-full-time">
            For a full-time student
        </div>
    </div>
    <div class="branchpath branchpath-top">
        <div class="branchpath-svg-container animation-element" id="branchpath-top-div">
            <svg id="branchpath-top"></svg>
        </div>
    </div>
    <div class="grad-split">
        <div class="undergraduate">
            <div class="undergrad-header v4">
                Undergraduate
            </div>
            <div class="undergrad-header-small v4">
                Under-<br>graduate
            </div>
            <div class="branchpath sub-branch">
                <div class="branchpath-svg-container" id="branchpath-undergrad-div">
                    <svg id="branchpath-undergrad"></svg>
                </div>
            </div>
            <div class="lds-split">
                <div class="lds-left">
                    <div class="v3 extra-space">
                        LDS
                    </div>
                    <div class="undergrad-credits credits medgray">
                        12+ Credits
                    </div>
                    <div class="tuition-price">
                        {{ content.field_undergrad_lds }}
                        <div class="extra-small semibold all-caps">
                            per semester
                        </div>
                    </div>
                </div>
                <div class="non-lds-right">
                    <div class="v3 extra-space">
                        NON-LDS
                    </div>
                    <div class="undergrad-credits credits medgray">
                        12+ Credits
                    </div>
                    <div class="tuition-price">
                        {{ content.field_undergrad_non_lds }}
                        <div class="extra-small semibold all-caps">
                            per semester
                        </div>
                    </div>
                </div>
            </div>
            <div class="subsidies subsidies-left">
                As BYU's sponsor, The Church of Jesus Christ of Latter-day Saints
                subsidizes tuition prices with its members' tithing funds.
                In principle, each student attending BYU is on scholarship.
            </div>
        </div>
        <div class="graduate">
            <div class="graduate-header v4">
                Graduate
            </div>
            <div class="branchpath sub-branch">
                <div class="branchpath-svg-container" id="branchpath-grad-div">
                    <svg id="branchpath-grad"></svg>
                </div>
            </div>
            <div class="lds-split">
                <div class="lds-left">
                    <div class="v3 extra-space">
                        LDS
                    </div>
                    <div class="grad-credits credits">
                        8.5+ Credits
                    </div>
                    <div class="tuition-price">
                        {{ content.field_graduate_lds }}
                        <div class="extra-small semibold all-caps">
                            per semester
                        </div>
                    </div>
                </div>
                <div class="non-lds-right smaller-border">
                    <div class="v3 extra-space">
                        NON-LDS
                    </div>
                    <div class="grad-credits credits">
                        8.5+ Credits
                    </div>
                    <div class="tuition-price">
                        {{ content.field_graduate_non_lds }}
                        <div class="extra-small semibold all-caps">
                            per semester
                        </div>
                    </div>
                </div>
            </div>
            <div class="management-law-header v3 extra-space">
                Business and<span class="management-title-breakpoint"><br></span> Law Students
            </div>
            <div class="lds-split management-law">
                <div class="lds-left">
                    <div class="v3 extra-space">
                        LDS
                    </div>
                    <div class="grad-credits credits">
                        8.5+ Credits
                    </div>
                    <div class="tuition-price">
                        {{ content.field_management_law_lds }}
                        <div class="extra-small semibold all-caps">
                            per semester
                        </div>
                    </div>
                </div>
                <div class="non-lds-right">
                    <div class="v3 extra-space">
                        NON-LDS
                    </div>
                    <div class="grad-credits credits">
                        8.5+ Credits
                    </div>
                    <div class="tuition-price">
                        {{ content.field_management_law_non_lds }}
                        <div class="extra-small semibold all-caps">
                            per semester
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tuition-bottom-area">
        <div class="subsidies subsidies-bottom">
            As BYU's sponsor, the Church of Jesus Christ of Latter-day Saints
            subsidizes tuition prices with its members' tithing funds.
            In principle, each student attending BYU is on scholarship.
        </div>
        {{ content.field_more_tuition_details_link }}
    </div>
</div>
